<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<head>
    <title>管理员管理 </title>
    <link rel="stylesheet" type="text/css" href="/manage/jsTree/default/style.css">
    <link rel="stylesheet" type="text/css" href="/manage/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/manage/css/base.css">
    <style>
        .role {
            display: inline-block;
            margin-right: 100px;
        }

        .pagination {
            margin: 5px 0;
        }

        .e-table.e-clborder tr:last-child {
            border-bottom: 1px solid #E2E6EA;
        }

        .progress {
            position: relative;
        }

        .progress-bar span {
            color: #000;
            white-space: nowrap;
            text-align: center;
            line-height: 20px;
            position: absolute;
            width: 100%;
            left: 0;
        }
    </style>
</head>

<body ng-controller="WorkController">
<div layout:fragment="content">
    <div class="layout-content">
        <div class="guidepost">
            <span class="guidepost-span">位置：</span>
            <ul class="guidepost-con">
                <li class="guidepost-item">
                    <a href="#">首页 <i class="icons-12 icons-12-arrowr gray"></i></a>
                </li>
                <li class="guidepost-item">辅助安全员管理
                </li>
            </ul>
        </div>
        <div class="e-main">
            <div class="mian-box-content">
                <div class="row margin-b10">
                    <div class="col-xs-12">
                        <div class="row-space">
                            <div class="e-box">
                                <div class="e-box-title with-tab">
                                    <h2>添加辅助安全员</h2>

                                    <span class="e-box-toolbar">
                                        <button class="btn btn-xs" ng-click="add()" type="button">添加人员</button>
                                        <button class="btn btn-xs" ng-click="batchAdd()" type="button">批量添加</button>
                                    </span>

                                </div>
                                <div class="e-tab-content">
                                    <table id="tab1" class="e-table e-clborder">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th width="5%">序号</th>
                                            <th width="5%">姓名</th>
                                            <th width="15%">身份证号码</th>
                                            <th width="15%">手机号码</th>
                                            <th width="20%">职位</th>
                                            <th width="15%">业务系统名称</th>
                                            <th width="15%">管理范围</th>
                                            <th width="15%">申请时间</th>
                                            <th width="20%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td rowspan="3"><input type="checkbox"></td>
                                            <td rowspan="3">1</td>
                                            <td rowspan="3">
                                                <div class="form-item-input">
                                                    <input id="relName" ng-model='addParams.relName' name='relName'type="text" class="form-item-input" required>
                                                    <span style='color: red;position: absolute;' ng-show="addForm.$submitted&&addForm.relName.$invalid">请填写姓名</span>
                                                </div>
                                            </td>
                                            <td rowspan="3">
                                                <div class="form-item-input">
                                                    <input id="idCard" ng-model='addParams.idCard' name='idCard'type="text" class="form-item-input" required>
                                                    <span style='color: red;position: absolute;' ng-show="addForm.$submitted&&addForm.idCard.$invalid">请填写身份证号码</span>
                                                </div>
                                            </td>
                                            <td rowspan="3">
                                                <div class="form-item-input">
                                                    <input id="telephone" ng-model='addParams.telephone' name='rolePackName'type="text" class="form-item-input" required>
                                                    <span style='color: red;position: absolute;' ng-show="addForm.$submitted&&addForm.telephone.$invalid">请填写手机号码</span>
                                                </div>
                                            </td>
                                            <td rowspan="3">
                                                <div class="form-item-input">
                                                    <input id="remark" ng-model='addParams.remark' name='rolePackName'type="text" class="form-item-input" required>
                                                    <span style='color: red;position: absolute;' ng-show="addForm.$submitted&&addForm.remark.$invalid">请填写职位信息</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-item-input" style="word-break: break-all;">
                                                    <input ng-model="client.chk" style="vertical-align: middle;" type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty">
                                                    <span>党员教育</span>
                                                </div>
                                            </td>
                                            <td>
                                                <select>
                                                    <option>中国共产党济南市委员会</option>
                                                    <option>中国共产党青岛市委员会</option>
                                                </select>
                                            </td>
                                            <td rowspan="3"><span>2017-9-14</span></td>
                                            <td rowspan="3" class="txt-nw etal-c">
                                                <button class="btn btn-xs btn-info ng-scope" ng-click="allow(user)"
                                                        type="button">删除
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                <div class="form-item-input" style="word-break: break-all;">
                                                    <input ng-model="client.chk1" style="vertical-align: middle;" type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty">
                                                    <span>党员信息管理系统</span>
                                                </div>
                                            </td>
                                            <td>
                                                <select>
                                                    <option>中国共产党济南市委员会</option>
                                                    <option>中国共产党青岛市委员会</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                <div class="form-item-input" style="word-break: break-all;">
                                                    <input ng-model="client.chk2" style="vertical-align: middle;" type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty">
                                                    <span>干部学习管理系统</span>
                                                </div>
                                            </td>
                                            <td>
                                                <select>
                                                    <option>中国共产党济南市委员会</option>
                                                    <option>中国共产党青岛市委员会</option>
                                                </select>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="">
                                <span class="e-box-toolbar ng-scope">
                                    <button class="btn btn-xs ng-scope" ng-click="batchAllow" type="button">提交</button>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div layout:fragment='templates'>
    <div th:replace="modal/dist :: dist"></div>
    <div th:replace="modal/auth :: auth"></div>
    <div th:replace="modal/clear-client-modal"></div>
    <script th:replace="modal/exporting-modal"></script>


</div>
<div layout:fragment="scripts">
    <script src="js/service/ClearClientService.js"></script>
    <script src="js/modal/clearClient.js"></script>
    <script src="js/service/roleService.js"></script>
    <script src="js/service/fileDownloadService.js"></script>
    <script src="js/manage/batchAddWorker.js"></script>
    <script src="js/manage/businessUpload.js"></script>
    <script src="js/manage/work-manage.js"></script>
    <script src="js/modal/auth.js"></script>

</div>

</body>

</html>