<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ng-controller='TopController'>

<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<div th:replace="shared/styles"></div>
	<title layout:title-pattern="$CONTENT_TITLE $DECORATOR_TITLE">安全中心</title>
	<style>
		a:focus {
			text-decoration: none;
		}

		.input-idcard {
			text-transform: uppercase;
		}

		.pagination {
			/*display: block!important;*/
			text-align: center;
		}

		.pagination>div {
			display: inline-block!important;
		}

		.pagination>ul {
			display: inline-block!important;
		}

		.pagination li {
			cursor: pointer;
			position: relative;
			float: left;
			/*padding: 6px 12px;*/
			margin-left: -1px;
			/*line-height: 1.42857143;*/
			color: #337ab7;
			text-decoration: none;
			background-color: #fff;
			/* border: 1px solid #ddd; */
		}

		.pagination li:hover {
			z-index: 3;
			color: #23527c;
			background-color: #eee;
			border-color: #ddd;
		}

		.pagination li.active {
			z-index: 2;
			color: #fff;
			cursor: default;
			background-color: #337ab7;
			border-color: #337ab7;
		}

		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak {
			display: none !important;
		}

		.e-table.center1 th:fist-child {
			text-align: center;
		}

		.e-table.center1 td:fist-child {
			text-align: center;
		}
		/*2.14*/

		.icons-12.date-cus {
			margin-right: 5px;
			height: 14px;
		}
		/*时间插件*/

		.adm-wrapper {
			width: 300px;
			float: left;
			margin-top: 2px;
		}

		.adm-wrapper .form-item-name {
			vertical-align: super;
		}

		.adm-wrapper .adm-input {
			width: 204px;
			display: inline-block;
		}

		select-app {
			bottom: -98px;
			left: 237px;
			position: absolute;
			text-align: left;
			/*width: 100%;*/
			padding: 15px 0;
		}
		/*为应用留空*/
		@media screen and (max-width: 1440px){
			select-app {
				padding: 1px 0;
			}
			select-app .role .btn {
				margin: 3px 5px;
			}
			select-app button.btn {
				height: 21px;
				line-height: 19px;
				font-size: 12px;
			}
		}
		
		.e-main {
			top: 82px!important;
		}

		.e-main.without-app-selector {
			top: 40px !important;
		}

		.font-red {
			color: red!important;
		}

		.loading-input {
			position: relative;
		}

		.loading-input span {
			position: absolute;
			right: -28px;
			bottom: 0;
		}

		i.loading-btn {
			margin-right: 6px;
		}
		.user-img{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
		}

		.role-detail-col {
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
		.interactable {
			cursor: pointer;
			color: #1e8ceb;
		}
	</style>
	<style th:if="${showApp} == false">
		.e-main {
			top: 40px !important;
		}
	</style>
	<div layout:fragment="layout"></div>
</head>

<body ng-app='mgnt'>
	<div class="layout-top">
		<div class="layout-top-wave" id="topwave">
			<div class="layer topwave wave1" data-depth="0.02"></div>
			<div class="layer topwave wave2" data-depth="0.08"></div>
			<div class="layer topwave wave3" data-depth="0.14"></div>
			<div class="layer topwave wave4" data-depth="0.20"></div>
		</div>
		<div id="J_header">
			<div class="logo" style="width:350px;">
				<h1>
					<a href="#">
						<img src="/manage/img/Logo.png" alt="">
					</a>
				</h1>
			</div>
			<div class="sub-title pull-left" style="line-height: 88px;">
				<h2 style=" line-height: 88px; color: #fff; font-weight: bolder; font-family: microsoft yahei; font-size: 22px; margin-left: 20px; letter-spacing: 2px; text-shadow: 0 1px 2px rgba(0,0,0,.4);">安全中心</h2>
			</div>
			<ul class="main-toolbar">
				<li class="main-toolbar-item">
					<div class="user-bar">
						<div class="user-img m-r-sm">
							<img id="headpic" src="/manage/img/userimg2.png" alt="用户头像">
						</div>
						<div class="user-info" style='color: white;'>
							<div th:if="${!(#strings.isEmpty(session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.name))}">
								<span th:text="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.name}" class="user-name"></span>
								<span th:if="${!(#strings.isEmpty(ROLENAME))}">(</span>
								<span th:text="${ROLENAME}"></span>
								<span th:if="${!(#strings.isEmpty(ROLENAME))}">)</span>
							</div>
							<div th:if="${#strings.isEmpty(session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username)}">
								<a class="user-name" href="login" style='line-height: 3;'>登录</a>
							</div>
							<div th:if="${lastLoginDate}">
								<div><span class='date-cus icons-12 icons-12-date'></span>最后登录日期：<span th:text="${lastLoginDate}"></span></div>
							</div>
						</div>
					</div>
				</li>
				<li class="main-toolbar-item main-btn-holder">

					<ul class="dropdown-menu tab-system">
						<li>
							<div class="e-box-content tab-system-item clearfix">
								<div class="e-box-title">
									<h3>基层党组织建设</h3>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href='../../山东e支部/e支部后台新版/组织生活管理.html'>
										<i class="icons-49 icons-49-jc-1"></i>
										<p class="title">山东e支部</p>
									</a>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href='../../第一书记/pages/index-admin.html'>
										<i class="icons-49 icons-49-jc-2"></i>
										<p class="title">第一书记管理服务</p>
									</a>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href='../../三务公开/三务公开--工作台/pages/Index.html'>
										<i class="icons-49 icons-49-jc-4"></i>
										<p class="title">党务村务财务公开</p>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="e-box-content tab-system-item clearfix">
								<div class="e-box-title">
									<h3>党员队伍建设</h3>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href="../../信息管理/pages/management.html">
										<i class="icons-49 icons-49-dysj-3"></i>
										<p class="title">党员和党组织信息管理</p>
									</a>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href="../../发展党员/rdsq/index.html">
										<i class="icons-49 icons-49-dydw-1"></i>
										<p class="title">发展党员网上记实</p>
									</a>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href="../../组织关系工作台/组织关系页面/index.html">
										<i class="icons-49 icons-49-dydw-3"></i>
										<p class="title">组织关系转接</p>
									</a>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href="../../在职党员到社区报道/在职党员---工作台页面/pages/index.html">
										<i class="icons-49 icons-49-dydw-5"></i>
										<p class="title">在职党员到社区报到服务</p>
									</a>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href="../../缴纳党费后台/pages/首页.html">
										<i class="icons-49 icons-49-dydw-4 "></i>
										<p class="title">网上缴纳党费</p>
									</a>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href="../../党员教育/党员教育后台/通知公告.html">
										<i class="icons-49 icons-49-dydw-2"></i>
										<p class="title">党员教育平台</p>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="e-box-content tab-system-item clearfix">
								<div class="e-box-title">
									<h3>干部学习培训</h3>
								</div>

								<div class="tab-system-con">
									<a target='_blank' href='../../城乡两委学历教育/page/index-jwgl.html'>
										<i class="icons-49 icons-49-gbxx-3"></i>
										<p class="title">农村和城市社区基层干部学历教育</p>
									</a>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href='../../干部学习/干部学习后台/通知公告.html'>
										<i class="icons-49 icons-49-gbxx-2"></i>
										<p class="title">干部学习平台</p>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="e-box-content tab-system-item clearfix">
								<div class="e-box-title">
									<h3>干部工作</h3>
								</div>
								<div class="tab-system-con">
									<a target='_blank' href='../../选调大学生到村任职/后台/baominghuizong.html'>
										<i class="icons-49 icons-49-dysj-2"></i>
										<p class="title">选调优秀高校毕业生到村任职</p>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="e-box-content tab-system-item clearfix">
								<div class="e-box-title">
									<h3>信息收集</h3>
								</div>

								<div class="tab-system-con">
									<a target='_blank' href='../../舆情监控/rdsq/概览.html'>
										<i class="icons-49 icons-49-dysj-4"></i>
										<p class="title">舆情分析管理</p>
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="e-box-content tab-system-item clearfix">
								<div class="e-box-title">
									<h3>数据分析</h3>
								</div>
								<div class="tab-system-con">

									<a target="_blank" href='../../党内统计/pages/statis-1.html'>
										<i class="icons-49 icons-49-ezb-2"></i>
										<p class="title">党内统计</p>
									</a>
								</div>
								<div class="tab-system-con">

									<a target="_blank" href='../../大数据后台/数据报送情况.html'>
										<i class="icons-49 icons-49-dysj-8"></i>
										<p class="title">灯塔大数据</p>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="main-toolbar-item main-btn-holder">
					<div data-toggle="dropdown" class="enter-button ">
						<a aria-haspopup="true" aria-expanded="false" class="avatar dropdown-toggle">
							<i class="icons-32 icons-32-gear"></i>
						</a>
					</div>
					<ul style="margin-left:-55px; min-width:100px" class="dropdown-menu">
						<li>
							<a href="/modify">修改密码</a>
						</li>
						<li>
							<a href="/modify-vpn">修改VPN密码</a>
						</li>
						<li>
							<a href="/modify-phone">更换手机号码</a>
						</li>
						<li>
							<a href="/head-pic">修改头像</a>
						</li>
						<li>
							<a href="/logout">退出登录</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="layout-left">
		<div class="sub-nav" id="sub-nav">
			<p class="sub-nav-title">
				<span class="hide-minify">
						
						安全中心
					</span>
				<a class="minify-toggle" href="javascript:void(0);"><i class="icons-12 icons-12-draw gray" title="收起侧栏"></i></a>
			</p>
			<ul class="sub-nav-list" ng-cloak ng-if='!authLoading'>
				<div ng-if='isSecu()'>
					<li class="sub-nav-li" th:classappend="${menuName == 'security'} ? 'active' : ''">
					<a class="sub-nav-a collapsed" href="/manage/security-manage?clientId={{selectClient.clientId}}">
						<i class="icons-22 icons-22-gear"></i>
						<span class="firnav-txt">安全员管理</span>
					</a>
					</li>
					<li class="sub-nav-li" th:classappend="${menuName == 'audit'} ? 'active' : ''">
						<a class="sub-nav-a collapsed" href="/manage/audit-manage?clientId={{selectClient.clientId}}">
						<i class="icons-22 icons-22-tz-rzgl"></i>
						<span class="firnav-txt">审计员管理</span>
					</a>
					</li>
					<li class="sub-nav-li" th:classappend="${menuName == 'worker'} ? 'active' : ''">
						<a class="sub-nav-a collapsed" href="/manage/worker-manage?clientId={{selectClient.clientId}}">
						<i class="icons-22 icons-22-person"></i>
						<span class="firnav-txt">管理员管理</span>
					</a>
					</li>
					<li class="sub-nav-li" th:classappend="${menuName == 'auth-config'} ? 'active' : ''">
						<a class="sub-nav-a collapsed" href="/manage/auth-config?clientId={{selectClient.clientId}}">

						<i class="icons-22 icons-22-gear"></i>
						<span class="firnav-txt">权限配置</span>
					</a>
					</li>
					<li class="sub-nav-li" th:if="${session.hasAssistModule}" th:classappend="${#arrays.contains(new String[]{'assist-manage', 'manager-appliFiling', 'role-packs'}, menuName)} ? 'active' : ''">
						<a href="javascript:void(0)" class="sub-nav-a" data-toggle="collapse">
							<i class="icons-22 icons-22-tz-bdsh"></i>
							<span class="firnav-txt">辅助安全员</span>
							<i class="fl-r icons-12 icons-12-down gray"></i>
						</a>
						<ul class="seclv-nav-ul collapse" th:classappend="${#arrays.contains(new String[]{'assist-manage', 'manager-appliFiling', 'role-packs'}, menuName)} ? 'in' : ''">
							<li class="seclv-nav-li" th:classappend="${menuName == 'assist-manage'} ? 'active' : ''">
								<a href="/manage/assist-manage?clientId={{selectClient.clientId}}"><i class="icons-12 icons-12-subnav gray"></i> 辅助安全员管理</a>
							</li>
							<li class="seclv-nav-li" th:classappend="${menuName == 'manager-appliFiling'} ? 'active' : ''">
								<a href="/manage/manager-appliFiling?clientId={{selectClient.clientId}}"><i class="icons-12 icons-12-subnav gray"></i> 管理员申请备案</a>
							</li>
							<li class="seclv-nav-li" th:classappend="${menuName == 'role-packs'} ? 'active' : ''">
								<a href="/manage/role-packs?clientId={{selectClient.clientId}}"><i class="icons-12 icons-12-subnav gray"></i> 可用角色配置</a>
							</li>
						</ul>
					</li>
					<!--/*<li class="sub-nav-li" th:classappend="${menuName == 'announcement'} ? 'active' : ''">-->
						<!--<a class="sub-nav-a collapsed" href="/manage/announcement">-->
							<!--<i class="icons-22 icons-22-edit"></i>-->
							<!--<span class="firnav-txt">通知公告</span>-->
						<!--</a>-->
					<!--</li>*/-->
				</div>
				<div ng-if='false && isAudit()'>
					<li class="sub-nav-li" th:classappend="${menuName == 'login-record'} ? 'active' : ''">
						<a class="sub-nav-a collapsed" href="/manage/login-record?clientId={{selectClient.clientId}}">
						<i class="icons-22 icons-22-book"></i>
						<span class="firnav-txt">登录日志</span>
					</a>
					</li>
					<li class="sub-nav-li" th:classappend="${menuName == 'reg-record'} ? 'active' : ''">
						<a class="sub-nav-a collapsed" href="/manage/reg-record?clientId={{selectClient.clientId}}">
						<i class="icons-22 icons-22-pencil"></i>
						<span class="firnav-txt">注册日志</span>
					</a>
					</li>
					<li class="sub-nav-li" th:classappend="${menuName == 'auth-record'} ? 'active' : ''">
						<a class="sub-nav-a collapsed" href="/manage/auth-record?clientId={{selectClient.clientId}}">
						<i class="icons-22 icons-22-file"></i>
						<span class="firnav-txt">授权日志</span>
					</a>
					</li>
				</div>
			</ul>
		</div>
	</div>
	<div layout:fragment="content"></div>
	<div th:replace="shared/bundles"></div>
	<div layout:fragment="templates"></div>
	<div layout:fragment="scripts"></div>
	<script th:replace="bootstrap-tpls :: pagination"></script>
	<script th:replace="modal/confirm :: confirm"></script>
	<!--顶部切换应用-->
	<script th:replace="directive/selectApp :: selectApp"></script>
	<!--重置密码 弹窗2-->
	<div class="modal fade" id="modal-2" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div id="info" class="e-box m-b">
					<div class="e-box-title">
						<h2>修改密码</h2>
						<div class="e-box-toolbar">
							<button type="button" class="close m-t-sm" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
									<span class="sr-only">Close</span></button>
						</div>
					</div>
					<div class="e-box-content">
						<div class="p-sm padding-b0">
							<div class="clearfix e-form">
								<div class="form-group clearfix margin-b0">
									<div class="form-item">
										<span class="form-item-name">输入新密码：</span>
										<input id="" type="text" placeholder="" class="form-item-input">
									</div>
									<div class="form-item">
										<span class="form-item-name">确认新密码：</span>
										<input id="" type="text" placeholder="" class="form-item-input">
									</div>
								</div>
							</div>
						</div>
						<hr class="m-t-sm m-b-sm">
						<div class="etal-c m-b-sm">
							<a href="#" class="btn btn-info">保存</a>
							<div class="btn btn-danger" data-dismiss="modal">取消</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 弹窗3 -->
	<div class="modal fade" id="modal-3" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div id="info" class="e-box m-b">
					<div class="e-box-title">
						<h2>系统分配</h2>
						<div class="e-box-toolbar"><button type="button" class="close m-t-sm" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
					</div>
					<div class="e-box-content">
						<table class="e-table">
							<thead>
								<tr>
									<th width="5%" class="text-center">
										<input id="" type="checkbox">
									</th>
									<th class="text-center">应用系统</th>
									<th class="text-center">管理范围</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>山东e支部管理系统</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>第一书记管理系统</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>党内统计</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>党员组织关系转接管理系统</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>党员和党组织信息管理</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>发展党员网上纪实</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>在职党员到社区报到</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>网上缴纳党费</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>选调大学生管理系统</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>党务村务财务公开管理系统</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>舆情分析系统</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>党员教育管理系统</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>干部学习平台后台系统</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
								<tr>
									<td class="text-center">
										<input type="checkbox" value="">
									</td>
									<td>网站发布系统</td>
									<td class="text-center">
										<input id="" type="text" class="form-item-input" style="width: 90%;">
									</td>
								</tr>
							</tbody>
						</table>
						<hr class="m-t-sm m-b-sm">
						<div class="etal-c m-b-sm">
							<a href="#" class="btn btn-info">确定</a>
							<div class="btn btn-danger" data-dismiss="modal">取消</div>
						</div>
						<input type="hidden" id='js-loged-username' th:value="${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		Object.defineProperty(window, 'ENABLE_SEARCH', {
            configurable: false,
			writable: false,
			value: /*[[${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username == '370703198805270014'}]]*/ false
		});
        //加载时获取图片
	(function (window) {
		function getPic() {
                var username = $('#js-loged-username').val();
                $.get('/manage/user/getUserLogo/' + username + '/')
                    .then(function (data) {
                        if (data != null && data != '') {
                            if (data.substring(data.lastIndexOf('/') + 1) == "null") {
//							$("#headpic").attr('src', '/manage/img/userimg2.png');
							return;
                            }
                            $("#headpic").attr('src', data);
                        }
				});
            };
            $(window).on('load', function () {
                getPic();
            });
	})(window);

	</script>

</body>


</html>