<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<meta name="description" content="User login page" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/manage/css/style1.css">
	<title th:unless="${#strings.isEmpty(session?.SPRING_SECURITY_SAVED_REQUEST?.parameterMap?.get('CLIENTNAME'))}" th:text="|${session?.SPRING_SECURITY_SAVED_REQUEST?.parameterMap?.CLIENTNAME[0]}_灯塔-党建在线登录页面|"></title>
	<title th:if="${#strings.isEmpty(session?.SPRING_SECURITY_SAVED_REQUEST?.parameterMap?.get('CLIENTNAME'))}">灯塔-党建在线登录页面</title>
	<style type="text/css">
		html {
			min-height: auto;
		}
		
		.content .login-con .forget {
			display: none;
		}

		.dlmodal.e-box {
			position: fixed;
			top: 50%;
			left: 50%;
			z-index: 100;
			margin-left: -160px;
			width: 320px;
			box-shadow: 0 0 15px rgba(0,0,0,0.18);
			margin-top: -100px;
		}
		.dlmodal.e-box .close {
			transform: scale(1.5,1);
			margin-top: 1px;
			margin-right: 9px;
			display: block;
			color: #e60000;
		}
		.dlmodal.e-box .e-box-content {
			height: 150px;
			padding-top: 1px;
		}
		.dlmodal.e-box .e-box-content p {
			font-size: 14px;
			text-align: center;
			line-height: 27px;
			margin-top: 40px;
		}
		.dlmodal.e-box .e-btn {
			padding: 10px 15px;
			display: inline-block;
		}
		.mask {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.15);
			z-index: 100;
		}
	</style>
</head>

<body>
	<div class="tianze-login" layout:fragment="content">
		<h3 style="width:178px;">用户登录</h3>
		<a href="register" class="login-regist">立即激活</a>
		<form id="loginForm" class="clearfix e-form" role="form" method="post" action="login" novalidate>
			<div class="tianze-user-box  tianze-username">
				<input id="username" class="input-idcard" name="username" autocomplete="off" type="text" placeholder="用户名/身份证号" required data-parsley-required-message="请输入用户名/身份证号" data-parsley-errors-container="#nameMessage">
				<p class="text" id="nameMessage"></p>
			</div>
			<div class="tianze-user-box tianze-password">
				<input type="password" class="js-password-capslock" id="password" placeholder="密 码" name="password" autocomplete="off" required data-parsley-required-message="请输入密码" data-parsley-errors-container="#passwordMessage">
				<p class="text" id="passwordMessage"></p>
			</div>
			<div class="tianze-user-box tianze-sryzm w-width clearfix">
				<input type="text" class="form-control" id="validateCode" name="validateCode" autocomplete="off" placeholder="验证码" required=""
				 style="text-transform:uppercase;" data-parsley-required-message="请输入图片验证码" data-parsley-errors-container="#validateCodeMessage"
				/>
				<div class="tianze-yzm">
					<img alt="验证码" onclick="javascript:refresh()" id="yanzhengma" style='width: 100%;height: 100%;' />
				</div>
				<p class="text" id="validateCodeMessage" th:text="${session.error}"></p>
				<!--<span class="text-danger" th:text="${session.error}"></span>-->
				<!--<div>
							
						</div>-->
			</div>
			<div class="w-100">
				<a class="js-submit tianze-loginbtn">登 录</a>
				<!--<input type="submit" value="登 录" class="tianze-loginbtn">-->
				<a href="forget" class="login-forget">忘记密码？</a>
				<!-- <a href="register" class="tianze-loginbtn margin-none">注 册</a> -->
			</div>
		</form>
		<div id="browser-tip" class="btn-pop hide" style="cursor:pointer;">更新浏览器</div>
	</div>

	<div layout:fragment="templates">
		<div id="browser-modal" class="mask hide" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="dlmodal e-box">
					<div class="e-box-title">
						<h2>更新浏览器</h2>
					</div>
					<div class="e-box-content">
						<p>为了获得更好的使用体验<br>请下载并使用谷歌浏览器访问</p>
					</div>
					<div class="e-border-top etal-c p-xxs">
						<a href="http://10.243.32.40:8930/files/dtfiles.zip" class="e-btn btn-info">点击下载</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="scripts">
		<script src="/manage/js/bundles/bowser.min.js"></script>
		<script src="/manage/js/manage/visualForm.js"></script>
		<script src="/manage/js/manage/passwordPopover.js"></script>
		<script type="text/javascript">
			function refresh() {
				document.getElementById('yanzhengma').src = "validateCodeServlet?" + Math.random();
			}

			function showBrowserModal() {
				$('#browser-modal').removeClass('hide');
			}

			$(window).on('load', function () {
				refresh();

				if ((!bowser.chrome) && (!bowser.blink)) {
					showBrowserModal();
				}

				$('#loginForm')
                    .visualForm({
                        simulateEnter: true,
						trim: {
							ignore: ['password']
						},
						onBeforeSubmit: function() {
							return (!$('.js-submit', this).hasClass('disabled')) && this.parsley().validate();
						}
                    })
                    .on('submitted.visualForm', function() {
                        $('.js-submit', $(this)).addClass('disabled').text('正在登录...');
                    })
					.parsley({
						trigger: 'change',
						successClass: "has-success",
						errorClass: "has-error",
						classHandler: function (el) {
							return el.$element.closest('.form-group'); //working
						},
						errorsWrapper: '<div class="invalid-message"></div>',
						errorTemplate: '<span></span>'
					});

				var _timer = null;
				function setTimer() {
					_timer = setInterval(function() {
						refresh();
					}, 60 * 10 * 1000);
				}
				function resetTimer() {
					clearInterval(_timer);
					setTimer();
				}
				setTimer();
				$('#loginForm').on('input', resetTimer);
				$('body').on('mousemove', resetTimer);
			});
		</script>
	</div>
</body>

</html>