<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<head>
    <title>安全员管理 </title>
    <link rel="stylesheet" type="text/css" href="/manage/jsTree/default/style.css">
    <style>
        .pagination{
            margin:5px 0;
        }
        .e-table.e-clborder tr:last-child{
            border-bottom:1px solid #E2E6EA;}
    </style>
</head>

<body ng-controller="SecuController">
    <div layout:fragment="content">
        <div class="layout-content">
            <div class="guidepost">
                <span class="guidepost-span">位置：</span>
                <ul class="guidepost-con">
                    <li class="guidepost-item">
                        <a href="#">首页 <i class="icons-12 icons-12-arrowr gray"></i></a>
                    </li>
                    <li class="guidepost-item">安全员管理
                    </li>
                </ul>
            </div>
            <div class="e-main">
                <select-app th:if="${showApp} != false">正在加载应用列表...</select-app>
                <div class="mian-box-content" style="box-sizing: border-box;height: 100%;">
                    <div class="e-box m-n" style="height: 100%;box-sizing: border-box;display: flex;flex-direction: column;" ng-if="topOrg.level >= ORG_LEVELS.Xian" ng-cloak>
                        <div class="e-box-title">
                            <h2>安全员管理</h2>
                        </div>
                        <div class="e-box-content" style="display: flex;flex-direction: column;justify-content: center;align-items: center;flex: 1;">
                            <p style="margin-bottom:30px;text-align:center;"><img src="/manage/img/no-auth.png"></p>
                            <p style="text-align: center;font-size: 18px;line-height: 32px;">
                                您没有安全员管理权限
                            </p>
                        </div>
                    </div>
                    <div class="e-box m-n" style="height: 100%;box-sizing: border-box;display: flex;flex-direction: column;" ng-if="topOrg.level < ORG_LEVELS.Xian">
                        <div class="e-box-title">
                            <h2>安全员管理</h2>
                            <span class="e-box-toolbar">
                                <!--<select-app ng-model="queryParams.clientId" ng-if="appList&&appList.length>0" data='appList' ></select-app>-->
                             <button type="button" class="btn btn-xs" ng-click='openSecu()'>开通</button>
                             <button class='btn btn-xs' ng-click='exportUser()'>导出授权码</button>
                             <!--/*<button class='btn btn-xs' type="file" ngf-pattern=".xls,.xlsx" ngf-select="uploadFiles($file, $invalidFiles)">导入安全员信息</button>*/-->
                             </span>
                        </div>
                        <div class="e-box-content p-xs e-border-bottom">
                            <!--/////////////////-->
                            <form id='queryForm'>
                                <div class="clearfix e-form">
                                    <div class="form-group clearfix m-n">
                                        <div class="form-item form-item-2xl">
                                            <span class="form-item-name">管理范围：</span>
                                            <div class="form-item-input">
                                                <div class="form-item-input" ng-model="selectClient.clientId">
                                                    <input type="text" class="form-item-input" kt-dict="ZZ" ng-model="queryParams.manageOrgId" clientId="{{selectClient.clientId}}" tree-level="1">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-item">
                                            <span class="form-item-name">安全员姓名：</span>
                                            <div class="form-item-input">
                                                <input type="text" ng-model='queryParams.securityName' class="form-item-input">
                                            </div>
                                        </div>

                                        <div class="form-item">
                                            <span class="form-item-name">使用状态：</span>
                                            <select type="text" class="form-item-input" ng-model='queryParams.state'>
                                                <option value=''>全部</option>
                                                <option value='1'>禁用</option>
                                                <option value='0'>启用</option>
                                            </select>
                                        </div>

                                        <div class="form-item">
                                            <span class="form-item-name">激活状态：</span>
                                            <select type="text" class="form-item-input" ng-model='queryParams.isActivation'>
                                                <option value="">全部</option>
                                                <option value="0">未激活</option>
                                                <option value="1">已激活</option>
                                            </select>
                                        </div>

                                        <a class="btn btn-info" ng-click='queryUsers()'>查 询</a>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <!--/////////////////-->
                        <div class="e-box-title">
                            <h2>安全员列表</h2>
                            <span class="e-box-toolbar" ng-if='!isLoading&&userList.length>0'>
                                <!--<button type="button" class="btn btn-xs" ng-click='openAuthorty()'>批量授权</button>-->
                                <button type="button" class="btn btn-xs" ng-click='openDist()'>批量分配</button>
                                <button type="button" class="btn btn-xs" ng-click='state(0)'>批量启用</button>
                                <button type="button" class="btn btn-xs" ng-click="clearClient()">批量撤销权限</button>
                                <button type="button" class="btn btn-xs" ng-click='state(1)'>批量禁用</button>

                            </span>
                        </div>
                        <div style="flex: 1;overflow: auto;border-bottom: 1px solid #C7CED3;">
                            <table class="e-table e-clborder margin-t10 center1">
                            <thead>
                                <tr>
                                    <th class='center1 text-center'>
                                        <select-all list="userList" selected-key="_selected"></select-all>
                                    </th>
                                    <th width="5%" class="text-center">
                                        序号
                                    </th>
                                    <!--<th>用户名</th>-->
                                    <th>安全员姓名</th>
                                    <!--<th>安全员id</th>-->
                                    <th>授权码</th>
                                    <th>身份证号</th>
                                    <!--<th style='min-width: 144px;'>所属党组织</th>-->
                                    <th>手机号码</th>
                                    <th width="15%">管理范围</th>
                                    <th>激活状态</th>
                                    <th>使用状态</th>
                                    <th width="15%" class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody ng-cloak>
                                <tr ng-if='!orgLoading&&!isLoading&&userList.length>0' ng-repeat='user in userList'>
                                    <td class='center1 text-center'><input type="checkbox" ng-model="user._selected"></td>
                                    <td class="text-center">{{$index|handleIndex:page}}</td>
                                    <!--<td>{{user.username}}</td>-->
                                    <td>{{user.securityUserName}}</td>
                                    <!--<td>{{user.securityUserId}}</td>-->
                                    <td>{{user.authorizationCode}}</td>
                                    <td>{{user.idCard}}</td>
                                    <!--<td>{{user.orgName}}</td>-->
                                    <td>{{user.telephone}}</td>
                                    <td>{{user.manageName}}</td>
                                    <td>
                                        <span ng-if='user.isActivation == 0'>未激活</span>
                                        <span ng-if='user.isActivation == 1'>已激活</span>
                                    </td>
                                    <td>
                                        <span ng-if='user.state == 0'>可使用</span>
                                        <span ng-if='user.state == 1'>已禁用</span>
                                    </td>
                                    <td class="text-center" style="white-space: nowrap;">
                                        <button type="button" class="btn btn-xs btn-info" ng-click="openDist(user)">分配</button>
                                        <button type="button" class="btn btn-xs btn-info" ng-click="resetVpnPassword(user)">重置 VPN 密码</button>
                                        <button type="button" class="btn btn-xs btn-info" ng-if='user.state == 0' ng-click='state(1,user.securityUserId)'>禁用</button>
                                        <button type="button" class="btn btn-xs btn-info" ng-if='user.state == 1' ng-click='state(0,user.securityUserId)'>启用</button>
                                        <button type="button" class="btn btn-xs btn-info" ng-click="clearClient(user)">撤销权限</button>

                                    </td>
                                </tr>

                                <tr ng-if='!orgLoading&&!isLoading&&(userList.length==0||!userList)' class="text-center">
                                    <td colspan='13'>暂无数据</td>
                                </tr>
                                <tr ng-if='orgLoading||isLoading' class="text-center">
                                    <td colspan='13'>加载中</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <nav class="text-center">
                            <uib-pagination ng-model="page.pageNo" ng-change="queryUsers()" total-items="totalItems" items-per-page="page.pageSize" template-url="pagination.html"
                                force-ellipses="true" max-size="7">
                            </uib-pagination>
                        </nav>
                    </div>
                    <!-- 弹窗3 -->
                    <div class="modal fade" id="modal-3" tabindex="-1" role="dialog">
                        <!--<div id="system_list_html">-->
                        <!--<script id="system_list_tpl" type="text/x-handlebars-template">-->
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div id="info" class="e-box m-b">
                                    <div class="e-box-title">
                                        <h2>系统分配</h2>
                                        <div class="e-box-toolbar close-modal"><button type="button" class="close m-t-sm" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
                                    </div>
                                    <div class="e-box-content">
                                        <table class="e-table">
                                            <thead>
                                            <tr>
                                                <th width="5%" class="text-center">
                                                    <input id="selectall" type="checkbox">
                                                </th>
                                                <th class="text-center">应用系统</th>
                                                <th class="text-center">管理范围</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr systemId='{{applicationId}}' name='systemTr'>
                                                <td class="text-center">
                                                    <input name='system' type="checkbox" value="">
                                                </td>
                                                <td>{{applicationName}}</td>
                                                <td class="text-center">
                                                    <input id="" type="text" class="form-item-input" style="width: 90%;">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr class="m-t-sm m-b-sm">
                                        <div class="etal-c m-b-sm">
                                            <button class="btn btn-info" cmd='dist'>确定</button>
                                            <div class="btn btn-danger close-modal" data-dismiss="modal">取消</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--</script>	-->
                        <!--</div>-->
                        <!--</div> -->

                    </div>
                    <!-- 弹窗3 -->

                    <!--/*弹窗4-->
                    <!--<div class="modal fade" id="modal-4" tabindex="-1" role="dialog" ng-click='resetAddParams()'>-->
                        <!--&lt;!&ndash;<div id="system_list_html">&ndash;&gt;-->
                        <!--&lt;!&ndash;<script id="system_list_tpl" type="text/x-handlebars-template">&ndash;&gt;-->
                        <!--<div class="modal-dialog modal-lg">-->
                            <!--<div class="modal-content">-->
                                <!--<div id="info" class="e-box m-b">-->
                                    <!--<div class="e-box-title">-->
                                        <!--<h2>开通安全员</h2>-->
                                        <!--<div class="e-box-toolbar close-modal"><button type="button" ng-click='resetAddParams()' class="close m-t-sm"-->
                                                                                       <!--data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>-->
                                    <!--</div>-->
                                    <!--<div class="e-box-content p-m">-->
                                        <!--<form name='addForm' novalidate>-->
                                            <!--<div class="clearfix e-form">-->
                                                <!--<div class="form-group clearfix m-n">-->
                                                    <!--<div class="form-item">-->
                                                        <!--<span class="form-item-name">姓名：</span>-->
                                                        <!--<div class="form-item-input">-->
                                                            <!--<input id="username" ng-model='addParams[0].relName' name='username' type="text" class="form-item-input" required>-->
                                                            <!--<span style='color: red;position: absolute;' ng-show="!firstOpen&&addForm.$submitted&&addForm.username.$error.required">请填写姓名</span>-->
                                                        <!--</div>-->
                                                    <!--</div>-->

                                                    <!--<div class="form-item">-->
                                                        <!--<span class="form-item-name">身份证号：</span>-->
                                                        <!--<div class="form-item-input">-->
                                                            <!--<input id="" name='idCard' ng-minlength="18" ng-maxlength="18" ng-model='addParams[0].idCard' type="text" class="form-item-input"-->
                                                                   <!--required>-->
                                                            <!--<span style='color: red;position: absolute;' ng-show="!firstOpen&&addForm.$submitted&&addForm.idCard.$error.required">请填写身份证号</span>-->
                                                            <!--<span style='color: red;position: absolute;' ng-show="!firstOpen&&addForm.$submitted&&addForm.idCard.$invalid&&!addForm.idCard.$error.required">请填写正确的身份证号</span>-->
                                                        <!--</div>-->
                                                    <!--</div>-->

                                                    <!--<div class="form-item">-->
                                                        <!--<span class="form-item-name">手机号：</span>-->
                                                        <!--<div class="form-item-input">-->
                                                            <!--<input id="" name='telephone' ng-pattern="/^1[34578]\d{9}$/" ng-model='addParams[0].telephone' type="text" class="form-item-input"-->
                                                                   <!--required>-->
                                                            <!--<span style='color: red;position: absolute;' ng-show="!firstOpen&&addForm.$submitted&&addForm.telephone.$error.required">请填写手机号</span>-->
                                                            <!--<span style='color: red;position: absolute;' ng-show="!firstOpen&&addForm.$submitted&&addForm.telephone.$invalid&&!addForm.telephone.$error.required">请填写正确的手机号</span>-->
                                                        <!--</div>-->
                                                    <!--</div>-->

                                                    <!--<div class="form-item">-->
                                                        <!--<span class="form-item-name">管理范围：</span>-->
                                                        <!--<div class="form-item-input">-->
                                                            <!--<input type="text" id="org" kt-dict='ZZ' ng-model='addParams[0].scope.manageOrgId' class='form-item-input' org-verify role-type='security'-->
                                                                   <!--clientId="{{selectClient.clientId}}" display-value="addParams[0].scope.orgInfo" name="manageOrgId" required tree-level="1">-->
                                                            <!--<span ng-show="addForm.$pending"><i class="fa fa-spin fa-spinner loading-btn"></i></span>-->
                                                            <!--<span style="color:red; position:absolute;" ng-show="!firstOpen && addForm.$submitted && addForm.manageOrgId.$error.errOrg">请选择正确的管理范围</span>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                        <!--<hr class="m-t-sm m-b-sm">-->
                                        <!--<div class="etal-c m-b-sm">-->
                                            <!--<button class="btn btn-info" ng-disabled='isSubmitting' ng-click='add()'>确定</button>-->
                                            <!--<div class="btn btn-danger close-modal" data-dismiss="modal" ng-click='resetAddParams()'>取消</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--弹窗4*/-->

                    <!--/*弹窗7-->
                    <!--<div class="modal fade" id="modal-7" tabindex="-1" role="dialog">-->
                        <!--<div class="modal-dialog modal-lg">-->
                            <!--<div class="modal-content">-->
                                <!--<div id="info" class="e-box m-b">-->
                                    <!--<div class="e-box-title">-->
                                        <!--<h2>确认导入信息</h2>-->
                                        <!--<div class="e-box-toolbar close-modal"><button type="button" class="close m-t-sm" ng-click="closeModal('#modal-7')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>-->
                                    <!--</div>-->
                                    <!--<div class="e-box-content">-->
                                        <!--<table class="e-table">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th width="5%" class="text-center">-->
                                                    <!--序号-->
                                                    <!--&lt;!&ndash;<input id="selectall" type="checkbox">&ndash;&gt;-->
                                                <!--</th>-->
                                                <!--<th class="text-center">身份证</th>-->
                                                <!--<th class="text-center">姓名</th>-->
                                                <!--<th class="text-center">手机号</th>-->
                                                <!--&lt;!&ndash;<th class="text-center">性别</th>-->
                                                    <!--<th class="text-center">组织名</th>&ndash;&gt;-->

                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--<tr ng-cloak ng-repeat='user in importList track by $index'>-->
                                                <!--<td class="text-center">-->
                                                    <!--{{$index|handleIndex:page}}-->
                                                    <!--&lt;!&ndash;<input name='system' type="checkbox" value="">&ndash;&gt;-->
                                                <!--</td>-->
                                                <!--<td class="text-center">{{user.idCard}}</td>-->
                                                <!--<td class="text-center">{{user.relName}}</td>-->
                                                <!--<td class="text-center">{{user.telephone}}</td>-->
                                                <!--&lt;!&ndash;<td class="text-center">{{user.sex}}</td>-->
                                                <!--<td class="text-center">{{user.orgName}}</td>&ndash;&gt;-->

                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                        <!--<nav class="text-center">-->
                                            <!--<uib-pagination ng-model="importPage.pageNo" ng-change="pageData()" total-items="importTotalItems" items-per-page="importPage.pageSize"-->
                                                            <!--template-url="pagination.html" force-ellipses="true" max-size="7">-->
                                            <!--</uib-pagination>-->
                                        <!--</nav>-->
                                        <!--<hr class="m-t-sm m-b-sm">-->
                                        <!--<div class="etal-c m-b-sm">-->
                                            <!--<button class="btn btn-info" ng-click="add('batch')">确定</button>-->
                                            <!--<div class="btn btn-danger close-modal" ng-click="closeModal('#modal-7')">取消</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--弹窗7*/-->
                </div>
            </div>
        </div>
    </div>


    </div>
    <div layout:fragment='templates'>
        <div th:replace="modal/dist :: dist"></div>
        <div th:replace="modal/auth-secu :: auth"></div>
        <div th:replace="modal/clear-client-modal"></div>
        <script type="text/ng-template" id="open-secu.html">
            <div id="info" class="e-box m-b">
                <div class="e-box-title">
                    <h2>开通安全员</h2>
                    <div class="e-box-toolbar close-modal"><button type="button" ng-click='$dismiss()' class="close m-t-sm"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
                </div>
                <div class="e-box-content p-m">
                    <form name='addForm' novalidate>
                        <div class="clearfix e-form">
                            <div class="form-group clearfix">
                                <div class="form-item">
                                    <span class="form-item-name">姓名：</span>
                                    <div class="form-item-input">
                                        <input id="username" ng-model='addParams[0].relName' name='username' type="text" class="form-item-input" required>
                                        <span style='color: red;position: absolute;' ng-show="addForm.$submitted&&addForm.username.$error.required">请填写姓名</span>
                                    </div>
                                </div>

                                <div class="form-item">
                                    <span class="form-item-name">身份证号：</span>
                                    <div class="form-item-input">
                                        <input id="" name='idCard' ng-minlength="18" ng-maxlength="18" ng-model='addParams[0].idCard' type="text" class="form-item-input input-idcard"
                                               required>
                                        <span style='color: red;position: absolute;' ng-show="addForm.$submitted&&addForm.idCard.$error.required">请填写身份证号</span>
                                        <span style='color: red;position: absolute;' ng-show="addForm.$submitted&&addForm.idCard.$invalid&&!addForm.idCard.$error.required">请填写正确的身份证号</span>
                                    </div>
                                </div>

                                <div class="form-item">
                                    <span class="form-item-name">手机号：</span>
                                    <div class="form-item-input">
                                        <input id="" name='telephone' ng-pattern="/^1[3456789]\d{9}$/" ng-model='addParams[0].telephone' type="text" class="form-item-input"
                                               required>
                                        <span style='color: red;position: absolute;' ng-show="addForm.$submitted&&addForm.telephone.$error.required">请填写手机号</span>
                                        <span style='color: red;position: absolute;' ng-show="addForm.$submitted&&addForm.telephone.$invalid&&!addForm.telephone.$error.required">请填写正确的手机号</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="form-item form-item-2xl">
                                    <span class="form-item-name">管理范围：</span>
                                    <div class="form-item-input" style="position:relative;">
                                        <input type="text" kt-dict='ZZ' ng-model='addParams[0].scope.manageOrgId' class='form-item-input' org-verify role-type='security'
                                               clientId="{{selectClient.clientId}}" display-value="addParams[0].scope.orgInfo" name="manageOrgId" required tree-level="1" allow-top="false">
                                        <span style="position:absolute; right:0; top:0;" ng-show="addForm.$pending"><i class="fa fa-spin fa-spinner loading-btn"></i></span>
                                        <span style="color:red; position:absolute;" ng-show="(addForm.$submitted || addForm.manageOrgId.$dirty) && addForm.manageOrgId.$error.errOrg">请选择正确的管理范围</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr class="m-t-sm m-b-sm">
                    <div class="etal-c m-b-sm">
                        <button class="btn btn-info" ng-disabled="isSubmitting" ng-click="add()">确定</button>
                        <button class="btn btn-danger close-modal" ng-click='$dismiss()'>取消</button>
                    </div>
                </div>
            </div>
        </script>
        <script th:replace="modal/exporting-modal"></script>
    </div>
    <div layout:fragment="scripts">
        <script src="js/service/ClearClientService.js"></script>
        <script src="js/service/fileDownloadService.js"></script>
        <script src="js/modal/clearClient.js"></script>
        <script src="js/modal/auth-secu.js"></script>
        <script src="js/manage/security-manage.js"></script>
        <script>
            // $('#org').ktDict({ code: "ZZ", val: "", input: "#org" });
        </script>

    </div>
</body>

</html>