<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="front-layout">

<head>
	<script th:inline="javascript">
		var httpFlag = /*[[${httpFlag == '1' ? true : false}]]*/ false;
		if (httpFlag && location.protocol === 'http:' && location.host === 'sso.dtdjzx.gov.cn') {
			location.href = 'https://sso.dtdjzx.gov.cn/sso/login';
		}
	</script>
	<meta name="description" content="User login page" />
	<title></title>
	<div layout:fragment="header">
		<link rel="stylesheet" type="text/css" href="css/style1.css">
		<style type="text/css">
			html {
				min-height: auto;
			}

			.content .login-con .forget {
				display: none;
			}
		</style>
	</div>
</head>

<body>
	<div class="tianze-login" layout:fragment="content">
		<h3>用户登录</h3>
		<a href="register" class="login-regist">立即注册</a>
		<form id="loginForm" class="clearfix e-form" role="form" method="post" action="login" novalidate>
			<div class="tianze-user-box  tianze-username">
				<input id="username" name="username" autocomplete="off" type="text" placeholder="用户名" required data-parsley-required-message="请输入用户名" data-parsley-errors-container="#nameMessage">
				<p class="text" id="nameMessage"></p>
			</div>
			<div class="tianze-user-box tianze-password">
				<input type="password" class="js-password-capslock" id="password" placeholder="密 码" name="password" autocomplete="off" required data-parsley-required-message="请输入密码" data-parsley-errors-container="#passwordMessage">
				<p class="text" id="passwordMessage"></p>
			</div>
			<div class="tianze-user-box tianze-sryzm w-width clearfix">
				<input type="text" class="form-control" id="validateCode" name="validateCode" autocomplete="off" placeholder="验证码" required=""
				 style="text-transform:uppercase;" data-parsley-required-message="请输入图片验证码" data-parsley-errors-container="#validateCodeMessage"
				/>
				<div class="tianze-yzm">
					<img alt="验证码" onclick="refresh()" id="yanzhengma" style='width: 100%;height: 100%;' />
				</div>
				<p class="text" id="validateCodeMessage" th:text="${session.error}"></p>
				<!--<span class="text-danger" th:text="${session.error}"></span>-->
				<!--<div>
							
						</div>-->
			</div>
			<div class="w-100">
				<a class="js-submit tianze-loginbtn">登 录</a>
				<!--<input type="submit" value="登 录" class="tianze-loginbtn">-->
				<a href="forget" class="login-forget">忘记密码？</a>
				<!-- <a href="register" class="tianze-loginbtn margin-none">注 册</a> -->
			</div>
		</form>
	</div>

	<div layout:fragment="scripts">
		<script src="js/visualForm.js"></script>
		<script th:src="|${sessionId}|"></script>
		<script type="text/javascript">
			function refresh() {
				$('#yanzhengma').attr('src', 'validateCodeServlet?t=' + (Math.random() * 10));
			}
            refresh();

			$(window).on('load', function () {
				$('#loginForm')
					.visualForm({
                        simulateEnter: true,
						trim: {
                            ignore: ['password']
						},
                        onBeforeSubmit: function() {
                            return (!$('.js-submit', this).hasClass('disabled')) && this.parsley().validate();
                        }
					})
					.on('submitted.visualForm', function() {
					    $('.js-submit', $(this)).addClass('disabled').text('正在登录...');
					})
					.parsley({
						trigger: 'change',
						successClass: 'has-success',
						errorClass: 'has-error',
						classHandler: function (el) {
							return el.$element.closest('.form-group'); //working
						},
						errorsWrapper: '<div class="invalid-message"></div>',
						errorTemplate: '<span></span>'
					});

				var _timer = null;
				function setTimer() {
					_timer = setInterval(function() {
						refresh();
					}, 60 * 10 * 1000);
				}
				function resetTimer() {
					clearInterval(_timer);
					setTimer();
				}
				setTimer();
				$('#loginForm').on('input', resetTimer);
				$('body').on('mousemove', resetTimer);
			});
		</script>
	</div>
</body>

</html>