<!-- build:js(static/) /manage/js/bundles/front-bundles.js -->
<script src="/manage/js/bundles/jquery-1.12.1.js"></script>
<script src="/manage/js/bundles/es5-shim.js"></script>
<script src="/manage/js/bundles/es5-sham.js"></script>
<script src="/manage/js/bundles/es6-shim.js"></script>
<script src="/manage/js/bundles/es6-sham.js"></script>
<script src="/manage/js/bundles/toastr.js"></script>
<script src="/manage/js/bundles/bootstrap.min.js"></script>
<script src="/manage/js/bundles/myself.js"></script>
<script src="/manage/js/bundles/jquery.serializejson.js"></script>
<script src="/manage/js/bundles/parsley.min.js"></script>
<script src="/manage/js/manage/utils.js"></script>
<!-- endbuild -->
