<!-- build:css(static/) /manage/css/front-bundles.css -->
<link rel="stylesheet" href="/manage/css/bootstrap.min.css">
<link rel="stylesheet" href="/manage/css/font-awesome.min.css">
<link rel="stylesheet" href="/manage/css/reset.css">
<link rel="stylesheet" href="/manage/css/base.css">
<link rel="stylesheet" href="/manage/css/media.css">
<link rel="stylesheet" href="/manage/css/login.css">
<link rel="stylesheet" href="/manage/css/toastr.css">
<link rel="stylesheet" href="/manage/jsTree/default/style.css">
<link rel="stylesheet" href="/manage/css/footer.css">
<!-- endbuild -->
