<!-- build:js(static/) /manage/js/bundles/bundles.js -->
<script src="js/jquery-1.12.1.js"></script>
<script src="js/es5-shim.js"></script>
<script src="js/es5-sham.js"></script>
<script src="js/es6-shim.js"></script>
<script src="js/es6-sham.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/toastr.js"></script>
<script src="js/myself.js"></script>
<script src="js/jquery.serializejson.js"></script>
<script src="js/utils.js"></script>
<!-- endbuild -->
