<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
	<head>
		<title>通知公告-公告管理</title>
		<style>
			.hide {
				display: none !important;
			}
			
			.e-table th.center1 {
				text-align: center;
			}
			
			.e-table td.center1 {
				text-align: center;
			}
			
			.clients-wrapper {
				width: 20%;
				display: inline-block;
			}
			
			.clients-wrapper .client {
				border-right: 1px solid #ccc;
			}
			
			.clients-wrapper .client.active {
				border-right: none;
			}
			
			.roleDetails {
				width: 80%;
				display: inline-block;
			}
			.modal-org-wrapper {
				display: inline-block;
				margin-left: 21px;
				margin-top: 10px;
			}
			
			.modal-org-wrapper>span {
				margin-right: 15px;
			}
			
			.e-table th input[type="checkbox"], .e-table td input[type="checkbox"] {
				vertical-align: sub;
			}
		</style>
	</head>

	<body ng-controller="UpdateController">
		<div layout:fragment="content">
			<div class="layout-content">
				<input type="hidden" id="current" th:value="${noticeId}">
				<div class="guidepost">
					<span class="guidepost-span">位置：</span>
					<ul class="guidepost-con">
						<li class="guidepost-item">
							<a href="#">
								首页 
								<i class="icons-12 icons-12-arrowr gray"></i>
							</a>
						</li>
						<li class="guidepost-item">通知公告</li>
					</ul>
				</div>
				<div class="e-main">
					<div class="mian-box-content">
						<div class="row margin-b10">
							<div class="row-space">
								<div class="e-box float-e-margins">
									<div class="e-box-title">
										<h2 th:text="${updateTitle}"></h2>
										<div class="e-box-toolbar">
											<a disabled ng-disabled="isLoading" href="/manage/announcement" class="btn btn-danger">取消</a>
										</div>
										<div class="e-box-toolbar">
											<button disabled ng-disabled="isLoading" class="btn btn-info" ng-click="addOrEdit()">保存</button>
										</div>
									</div>
		
									<form name="contentForm" class="e-box-content p-xs" novalidate>
										<div class="clearfix e-form">
											<div class="form-group clearfix m-n">
												<div class="form-item form-item-2xl">
													<span class="form-item-name">公告标题：</span>
													<input name="title" type="text" placeholder="" class="form-item-input" ng-model="params.noticeTitle" required/>
												</div>
												<div class="form-item" style="font-size:12px;" ng-show="contentForm.$submitted || contentForm.title.$touched" 
													ng-messages="contentForm.title.$error" ng-cloak>
													<span class="form-item-content text-danger" ng-message="required">请输入公告标题 </span>
												</div>
											</div>
											<div class="form-group clearfix margin-b0">
												<div class="form-item form-item-3xl f-n f-12 w-100" ng-cloak>
													<span class="form-item-name">公告内容：</span>
													<div style="line-height:22px; font-size:12px; min-height:100%; max-width:60%; vertical-align:middle; display:inline-block;">
														<textarea id="content" name="content" class="m-t-sm" required ng-cloak></textarea>
													</div>
												</div>
												<div class="form-item" style="font-size:12px;" ng-show="contentForm.$submitted || contentForm.content.$touched" 
													ng-messages="contentForm.content.$error" ng-cloak>
													<span class="form-item-content text-danger" ng-message="required">请输入公告内容 </span>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div layout:fragment='templates'>
			<div th:replace="modal/auth :: auth"></div>
		</div>
		<div layout:fragment="scripts">
			<script src="/manage/js/bundles/ueditor/ueditor.config.js"></script>
			<script src="/manage/js/bundles/ueditor/ueditor.all.min.js"></script>

			<script src="/manage/js/manage/announcement/updateOrAdd.js"></script>
			<script>
				window.UMEDITOR_HOME_URL = '/manage/js/bundles/umeditor/';

				var def = $.Deferred();
				function getEditor() {
					return def.promise();
				};

				$(window).on('load', function() {
					var editor = UE.getEditor('content', {
						initialFrameHeight: 300,
						elementPathEnabled: false,
						autoHeightEnabled: false,
						enableAutoSave: false,
						toolbars: [
							[
								'undo', //撤销
								'redo', //重做
								'|',
								'bold', //加粗
								'indent', //首行缩进
								'italic', //斜体
								'underline', //下划线
								'strikethrough', //删除线
								'formatmatch', //格式刷
								'blockquote', //引用
								'|',
								'fontfamily', //字体
								'fontsize', //字号
								'forecolor', //字体颜色
							],
							[
								'paragraph', //段落格式
								'justifyleft', //居左对齐
								'justifyright', //居右对齐
								'justifycenter', //居中对齐
								'justifyjustify', //两端对齐
								'insertorderedlist', //有序列表
								'insertunorderedlist' //无序列表
							]
						]
					});
					editor.addListener('ready', function() {
						def.resolve(editor);
					});
				});
			</script>
		</div>
	</body>
</html>