<!-- build:js(static/) js/bundles.js -->
<script src="js/bundles/jquery-1.12.1.js"></script>
<script src="js/bundles/es5-shim.js"></script>
<script src="js/bundles/es5-sham.js"></script>
<script src="js/bundles/es6-shim.js"></script>
<script src="js/bundles/es6-sham.js"></script>
<script src="js/bundles/underscore-min.js"></script>
<script src="js/bundles/bootstrap.min.js"></script>
<script src="js/bundles/toastr.js"></script>
<script src="js/bundles/myself.js"></script>
<script src="js/bundles/jquery.serializejson.js"></script>
<script src="js/bundles/parsley.min.js"></script>
<script src="js/utils.js"></script>
<script src="js/passwordPopover.js"></script>
<!-- endbuild -->
